<footer class="footer mt-auto py-3">
    <div class="container">
        <p>Template by Adrian Gould</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="https://python.org" class="text-muted">
                Python
                <i class="fab fa-python text-primary"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="//https://palletsprojects.com/p/flask/"
               class="text-muted">
                Flask
                <i class="fa fa-flask text-primary"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://getbootstrap.com"
               class="text-muted">
                Bootstrap
                <i class="fab fa-bootstrap text-primary"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://chartjs.org" class="text-muted">
                ChartJS
                <i class="fa fa-chart-bar text-primary"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://jquery.com" class="text-muted">
                JQuery
                <i class="fab fa-js text-primary"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://popper.js.org" class="text-muted">
                PopperJS
                <i class="fa fa-stream text-primary"></i>
            </a>
        </li>
    </ul>
    </div>
</footer>