{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block page_css %}
{% endblock %}

{% block content %}
<h1>EnviroMon Data Provider</h1>

<div class="card-columns">
    {% for status in statuses %}
    <div class="card {{ status['class'] }} text-light">
        <h2 class="card-header">
            {{ status['name'] }}
            <span class="pl-1 ml-1 float-right">
                <i class="fa {{ status['icon'] }}"></i>
            </span>
        </h2>
        <div class="card-body text-center">
            <p><i class="{{ status['emoticon'] }} fa-5x"></i></p>
            <h3 class="card-text">{{ status['message'] }}</h3>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card-deck pb-4 mt-1">
    <div class="card">
        <h2 class="card-header">Device Load</h2>
        <div class="card-body">
            <canvas id="device-load-pie"></canvas>
        </div>
    </div>
    <div class="card">
        <h2 class="card-header">Humidity</h2>
        <div class="card-body">
            <canvas id="humidity-bar"></canvas>
        </div>
    </div>
</div>
<div class="card-deck pb-4">
    <div class="card">
        <h2 class="card-header">Pressure</h2>
        <div class="card-body">
            <canvas id="pressure-bar"></canvas>
        </div>
    </div>

    <div class="card">
        <h2 class="card-header">Temperature</h2>
        <div class="card-body">
            <canvas id="temperature-bar"></canvas>
        </div>
    </div>
        <div class="card">
        <h2 class="card-header">Historical</h2>
        <div class="card-body">
            <canvas id="history-line-chart"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    <script src="/static/vendor/chartjs/js/Chart.bundle.js"></script>
    <script src="/static/js/device-load-pie.js"></script>
    <script src="/static/js/humidity-bar.js"></script>
    <script src="/static/js/pressure-bar.js"></script>
    <script src="/static/js/temperature-bar.js"></script>
    <script src="/static/js/line-chart.js"></script>
{% endblock %}